{% extends "account/base.html" %}

{% load widget_tweaks i18n %}

{% block content %}
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="{% url 'home' %}" class="h1">Бизнес-портал</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Для смены пароля введите текущий пароль и два раза новый.</p>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                {% for field in form.visible_fields %}
                <div class="input-group mb-3">
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {{ field|add_class:"form-control is-invalid" }}
                        {% else %}
                            {{ field|add_class:"form-control is-valid" }}
                        {% endif %}
                    {% else %}
                        {{ field|add_class:"form-control" }}
                    {% endif %}

                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>

                    {% if form.is_bound %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block" name="action">
                            Изменить пароль
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
