{% extends "account/base.html" %}

{% load widget_tweaks i18n %}

{% block content %}
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="{% url 'home' %}" class="h1">Бизнес-портал</a>
        </div>
        <div class="card-body">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="login-box-msg">Введите E-mail для отправки инструкции по сбросу пароля.</p>
            <form action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            Сбросить мой пароль
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'account_login' %}">Я помню свой пароль</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
