{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
<div class="login-box">
    <div class="card card-outline card-success">
        <div class="card-header text-center">
            <a href="{% url 'home' %}" class="h1">Бизнес-портал</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Подтвердите ваш e-mail</p>
            <p>Мы отправили вам e-mail с подтверждением. Для завершения процесса регистрации перейдите по указанной ссылке. Если вы не получили наше сообщение в течение нескольких минут, пожалуйста, свяжитесь с нами.</p>
        </div>
    </div>
</div>
{% endblock %}
