{% extends "account/base.html" %}
{% load widget_tweaks i18n %}

{% block title %}
{% trans "Change Password" %} :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="{% url 'home' %}" class="h1">Бизнес-портал</a>
        </div>
        <div class="card-body">
            {% if token_fail %}
            <p class="login-box-msg">Некорректный токен.</p>
            {% else %}
            <p class="login-box-msg">
                Изменение пароля. </br>
                Введите новый пароль в оба поля.
            </p>
            {% endif %}

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>
                    Ссылка для сброса пароля некорректна, возможно она уже была использована ранее.
                    Если необходимо запросите здесь: <a href="{{ passwd_reset_url }}"> повторный сброс пароля.</a>.
                </p>
            {% else %}
                {% if form %}
                <form method="POST" action="{{ action_url }}">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                {% for field in form.visible_fields %}
                <div class="input-group mb-3">
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {{ field|add_class:"form-control is-invalid" }}
                        {% else %}
                            {{ field|add_class:"form-control is-valid" }}
                        {% endif %}
                    {% else %}
                        {{ field|add_class:"form-control" }}
                    {% endif %}

                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>

                    {% if form.is_bound %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">
                        <button type="submit" name="action" class="btn btn-primary btn-block">
                            Изменить пароль
                        </button>
                    </div>
                </div>
            </form>
                {% else %}
                <p>Ваш пароль изменен</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
