{% extends "account/base.html" %}
{% load i18n %}

{% block title %}
Пароль изменен :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="login-box">
    <div class="card card-outline card-success">
        <div class="card-header text-center">
            <a href="{% url 'home' %}" class="h1">Бизнес-портал</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Сброс пароля</p>
            <p>Ваш пароль успешно изменен.</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <a href="{% url 'account_login' %}" class="text-center">
                        Войти
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
