{% extends "account/base.html" %}


{% block content %}
<div class="login-box">
    <div class="card card-outline card-success">
        <div class="card-header text-center">
            <a href="{% url 'home' %}" class="h1">Бизнес-портал</a>
        </div>
        <div class="card-body">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="login-box-msg">Вы запросили сброс пароля</p>
            <p>Мы отправили вам письмо. Пожалуйста, свяжитесь с нами, если не получили его в течение нескольких минут.</p>
        </div>
    </div>
</div>
{% endblock %}
