{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
<div class="login-box">
    <div class="card card-outline card-warning">
        <div class="card-header text-center">
            <a href="{% url 'home' %}" class="h1">Бизнес-портал</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Регистрация запрещена</p>
            <p>К сожалению в настоящее время регистрация новых пользователей не ведется.</p>
        </div>
    </div>
</div>
{% endblock %}
