{% extends 'references/index.html' %}
{% load static %}

{% block stylesheet %}
{{ block.super }}
{% include 'inc/_stylesheet_dt1.html' %}
{% endblock %}

{% block content %}
<table id="ref-table" width="100%" class="table table-hover table-sm no-footer"
       data-server-side="true" data-ajax="{% url url_list %}?format=datatables">
    <thead>
    <tr>
        {% for field in field_list %}
        <th data-data="{{ field.name }}">{{ field.title }}</th>
        {% endfor %}
    </tr>
    </thead>
</table>
{% endblock %}1

{% block scripts %}
{{ block.super }}
{% include 'inc/_scripts_dt1.html' %}
<script type="text/javascript">
$.fn.dataTable.ext.buttons.create = {
    className: 'btn-success buttons-create',
    text: function (dt) {
        return '<div class="d-none d-md-block"><i class="fas fa-plus"></i> Создать</div><div class="d-md-none"><i class="fas fa-plus"></i></div>';
    },
   action: function (e, dt, button, config) {
            window.location = window.location.href.replace(/\/+$/, "") + '/create';
   }
};

function prepareDataTableServerSide(){
    $('#ref-table').DataTable({
        columnDefs: [{
            targets: -1,
            data: null,
            width: 50,
            sortable: false,
            searchable: false,
            printable: false,
            defaultContent: '<div class="btn-group btn-group-xs" role="group" aria-label="Basic example"><button type="button" class="btn btn-outline-info"><i class="far fa-eye"></i></button><button type="button" class="btn btn-outline-success"><i class="far fa-edit"></i></button><button type="button" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button></div>'
        }],
        dom: "<'card-header'<'row'<'col-sm-6 col-md-8'B><'col-sm-6 col-md-4'f>>><'card-body table-responsive p-1'tr><'card-footer clearfix'<'row'<'col-md'l><'col-md'i><'col-md'p>>>",
        buttons: [
            {
                extend: 'create',
                className: 'disabled',
            },
            {
                extend: 'print',
                text: 'Печать'
            }
        ],
        language: {
            url: "{% static 'plugins/datatables/Russian.json' %}"
        },
        lengthMenu: [
            [ 15, 25, 50, 100, -1 ],
            [ '15', '25', '50', '100', 'Все' ]
        ],
        select: true,
    });
}
function edit_row(url) {
    alert(url);
}
$(document).ready(function(){
    prepareDataTableServerSide();
});
</script>
{% endblock scripts %}