<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Бизнес-портал</title>
    {% block stylesheet %}
    {% include 'inc/_stylesheet.html' %}
    {% endblock %}
</head>
<body class="hold-transition sidebar-mini sidebar-collapse sidebar-closed">
<div class="wrapper">
    {% block navbar %}
    {% include 'inc/_navbar.html' %}
    {% endblock %}

    {% block sidebar %}
    {% include 'inc/_sidebar.html' %}
    {% endblock %}

    {% block messages %}
    {% include 'inc/_messages.html' %}
    {% endblock %}

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Collapsed Sidebar</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Layout</a></li>
                            <li class="breadcrumb-item active">Collapsed Sidebar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                    {% for mod in mods_list %}
                    {% if mod.status == 1 %}
                    <div class="col">
                        <a href="{% url mod.route %}" class="info-box shadow">
                            <span class="info-box-icon bg-primary">
                                <i class="{{ mod.icon }}"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-number">{{ mod.name }}</span>
                                <span class="info-box-text">{{ mod.desc }}</span>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    {% block control %}
    {% include 'inc/_sidebar_control.html' %}
    {% endblock %}
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button"
       aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>
    {% block footer %}
    {% endblock %}
</div>
{% block scripts %}
{% include 'inc/_scripts.html' %}
{% endblock %}
</body>
</html>
