.layout-fixed .main-sidebar-custom .sidebar {
  height: calc(100% - ((3.5rem + 3.5rem) + 1px));
}

.layout-fixed .main-sidebar-custom .sidebar-custom {
  height: 3.5rem;
  padding: 0.5rem 0.5rem;
}

.content-header {
  padding: 5px .5rem;
}

.form-group {
    .invalid-feedback {
        display: block;
    }
}

.invalid-feedback {
  display: block;
}

.info-box .info-box-content {
    color: rgba(0,0,0,1);
}

.info-box .info-box-text {
    white-space: normal;
}