{% load static %}
<!-- DataTables scripts -->
<script src="{% static 'js/dt/jquery/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dt/bootstrap/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/dt/responsive/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/dt/responsive/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/dt/buttons/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/dt/buttons/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/jszip/jszip.min.js' %}"></script>
<script src="{% static 'js/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'js/pdfmake/vfs_fonts.js' %}"></script>

<script src="{% static 'js/dt/buttons/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/dt/buttons/buttons.print.min.js' %}"></script>

<script src="{% static 'js/dt/buttons/create.js' %}"></script>
<script src="{% static 'js/dt/buttons/reload.js' %}"></script>

<script src="{% static 'js/dt/dataTables.treeGrid.js' %}"></script>

<script src="{% static 'js/dt/main.js' %}"></script>