{% load static %}
<script src="{% static 'js/dt/jquery/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dt/bootstrap/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/dt/responsive/dataTables.responsive.js' %}"></script>
<script src="{% static 'js/dt/responsive/responsive.bootstrap4.js' %}"></script>
<script src="{% static 'js/dt/buttons/dataTables.buttons.js' %}"></script>
<script src="{% static 'js/dt/buttons/buttons.bootstrap4.js' %}"></script>
<script src="{% static 'js/jszip/jszip.js' %}"></script>
<script src="{% static 'js/pdfmake/pdfmake.js' %}"></script>
<script src="{% static 'js/pdfmake/vfs_fonts.js' %}"></script>

<script src="{% static 'js/dt/buttons/buttons.html5.js' %}"></script>
<script src="{% static 'js/dt/buttons/buttons.print.js' %}"></script>

<script src="{% static 'js/dt/buttons/create.js' %}"></script>
<script src="{% static 'js/dt/buttons/reload.js' %}"></script>

<script src="{% static 'js/dt/main.js' %}"></script>