{% load menu_tree mptt_tags %}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
        data-accordion="false">
        {% recursetree menus %}
        {% if node.perm in perms %}
        <li class="nav-item{% if not node.is_leaf_node %}{% if node.route in cur_url %} menu-is-opening menu-open{% endif %}{% endif %}">
            <a href="{% if node.route %}{% url node.route %}{% else %}#{% endif %}"
               class="nav-link{% if node.route in cur_url or node.route == 'home' and cur_url == '/' %} active{% endif %}">
                <i class="nav-icon{% if node.icon %} {{ node.icon }}{% else %} far fa-circle{% endif %}"></i>
                <p>{{ node.title }}
                    {% if not node.is_leaf_node %}
                    <i class="fas fa-angle-left right"></i>
                    {% endif %}
                    {% if node.badge %}
                    <span class="right badge badge-danger">{{ node.badge }}</span>
                    {% endif %}
                </p>
            </a>
            {% if not node.is_leaf_node %}
            <ul class="nav nav-treeview">
                {{ children }}
            </ul>
            {% endif %}
        </li>
        {% endif %}
        {% endrecursetree %}
    </ul>
</nav>