<aside class="control-sidebar control-sidebar-dark">
    <div class="p-3 control-sidebar-content" style="">
        <h5>Панель пользователя</h5>
        <hr class="mb-2">
        <a href="{% url 'account_logout' %}"
           class="btn btn-outline-warning btn-block">
            <i class="fas fa-right-from-bracket mr-2"></i>
            Завершить работу</a>
        {% if user.is_staff %}
        <a href="{% url 'admin:index' %}"
           class="btn btn-outline-info btn-block">
            <i class="fas fa-cogs mr-2"></i>
            Админ-панель
        </a>
        {% endif %}
    </div>
</aside>