{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404: Страница не найдена</title>
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
</head>
<body>
<section class="content pt-5">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Уупс! Нет такой страницы.</h3>
            <p>
                Запрашиваемая Вами страница не существует.
            </p>
            <p>
                Проверьте адрес или <a href="{% url 'home' %}">вернитесь на сайт</a>.
            </p>
        </div>
    </div>
</section>
{% include 'inc/_scripts.html' %}
</body>
</html>


