{% extends 'errors/base.html' %}

{% block title%}
503: Идет обслуживание
{% endblock %}
{% block content %}
<h2 class="headline text-info">503</h2>
<div class="error-content">
    <h3><i class="fas fa-users-cog text-info"></i> Сайт находится на обслуживании.</h3>
    <p>
        В настоящее время идет обновление сайта.</br>
        Мы надеемся он станет лучше...
    </p>
    <p>
        Попробуйте немного позже <a href="{% url 'home' %}">зайти на сайт</a>,
        возможно мы уже закончили работы.
    </p>
</div>
{% endblock %}