{% extends 'references/index.html' %}

{% block content %}
<div class="card-header">
    <h4 class="card-title">Создание объекта: {{ obj_name }}</h4>
    <div class="card-tools">
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default btn-sm">
            <i class="far fa-list-alt"></i>
            Список
        </a>
    </div>
</div>
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Добавить</button>
    </form>
</div>
<div class="card-footer">
    Подвал
</div>
{% endblock %}