{% extends 'references/index.html' %}
{% load model_info crispy_forms_tags %}

{% block content %}
<div class="card-header">
    <div class="d-flex justify-content-between">
        <h1 class="card-title mt-1">Изменение объекта: {{ object|title }}</h1>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default btn-sm">
            <i class="far fa-list-alt"></i>
            Список
        </a>
    </div>
</div>
<div class="card-body">
    {% crispy form %}
</div>
<div class="card-footer">
    Подвал
</div>
{% endblock %}