{% extends 'references/index.html' %}
{% load model_info %}

{% block content %}
<div class="card-header">
    <div class="d-flex justify-content-between">
        <h3 class="card-title mt-1">Просмотр объекта: {{ object|title }}</h3>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default btn-sm">
            <i class="far fa-list-alt"></i>
            Список
        </a>
    </div>
</div>
<div class="card-body">
    <table class="table table-bordered table-striped table-sm">
        <thead class="thead-light">
        <tr>
            <th style="width: 15%;">Параметр</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody>
        {% for field in object|fields %}
            <tr>
                <td>{{ field|field_label }}</td>
                <td>{{ object|field_value:field.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer">
    Подвал
</div>
{% endblock %}