{% extends 'references/index.html' %}
{% load model_info %}

{% block content %}
<div class="card-header">
    <div class="d-flex justify-content-between">
        <h3 class="card-title mt-1">Просмотр объекта: {{ object|title }}</h3>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default btn-sm">
            <i class="far fa-list-alt"></i>
            Список
        </a>
    </div>
</div>
<div class="card-body">
    {{ object }}
</div>
<div class="card-footer">
    Подвал
</div>
{% endblock %}